/* Footer.css or relevant CSS file */

footer {
    background-color: #f8f9fa; /* Light background color */
    color: #000; /* Dark text color */
  }
  
  .text-dark {
    color: #000 !important; /* Ensure dark text color for light mode */
  }
  
  .btn-link {
    color: #000; /* Dark color for buttons in light mode */
  }
  
  .btn-link:hover {
    color: #0056b3; /* Example hover color */
  }
  
  /* Dark mode styles */
  .dark-mode footer {
    background-color: #343a40; /* Dark background color */
    color: #e0e0e0; /* Light text color */
  }
  
  .dark-mode .text-dark {
    color: #e0e0e0 !important; /* Ensure light text color in dark mode */
  }
  
  .dark-mode .btn-link {
    color: #e0e0e0; /* Light color for buttons in dark mode */
  }
  
  .dark-mode .btn-link:hover {
    color: #adb5bd; /* Example hover color for dark mode */
  }
  