/* App.css */
/* .toggle-dark-mode {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
} */
/* 
.toggle-dark-mode:hover {
  background-color: #666;
} */
